@media (min-height: 277px) {
  .col {
    height: 277px;
  }
}
.container {
  justify-content: center;
  width: 1320px;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}

.col {
  height: auto;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.col > div {
  margin-top: 18px;
}
