
.container {
  margin:20px auto ;
  justify-content: center;
  width: 1320px;
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}

.col {
  height: auto;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.col > div {
  margin-top: 18px;
}
h1{
  margin-left:320px;
  margin-top: 20px;
  margin-bottom: 20px;
}
