<div class="top">
  <div class="img"><a href="#">
    <svg aria-hidden="false" aria-labelledby="unsplash-home" height="32" version="1.1" viewBox="0 0 32 32" width="32">
      <title id="unsplash-home">Unsplash Home</title>
      <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
    </svg>
  </a>
  </div>
  <div class="search">
    <app-search-input></app-search-input>
  </div>
  <div ><img class="lit_user" src=""></div>
</div>
<div class="userName">
  <div class="user"><img class="big_user" src=""></div>

</div>

