<!--<button name="login">Login</button>-->
<!--<button name="register">Reg</button>-->
<div class="aApNa">
  <div>
    <div class="_1S7B0 _2IoYT _1XDQr">
      <button class="_1hjZT _3jtP1 _1CBrG _1WPby xLon9 Onk5k hhSId _2PJgo" type="button">Submit<span class="_3LZjN"> a photo</span>
      </button>
    </div>
    <div class="QoLMB"><a class="_1hjZT _3jtP1 _1CBrG _1WPby xLon9 Onk5k hhSId _2PJgo _2YZnO" routerLink="/login"
                          rel="nofollow">Login</a><a class="_2sYIa _3jtP1 _1CBrG _1WPby xLon9 _30mli hhSId _2PJgo"
                                                     href="https://unsplash.com/join" rel="nofollow">Join free</a></div>
  </div>
</div>
