<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<div class="top">
  <div class="img"><a href="#">
    <svg width="32" height="32" version="1.1" viewBox="0 0 32 32" aria-labelledby="unsplash-home" aria-hidden="false">
      <title id="unsplash-home">Unsplash Home</title>
      <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
    </svg>
  </a>
  </div>
  <div class="text">
    <span class="title_1">Unsplash</span>
    <span class="title_2">Photos for everyone</span>
  </div>
  <app-search-input style="width: 55%"></app-search-input>
  <div class="app-lo">
    <app-lo></app-lo>
  </div>


</div>

<app-bar></app-bar>
