.top {
  padding: 14px 20px 0px 20px;
  position: sticky;
  z-index: 2;
  height: 62px;
  font-family: Helvetica;
  display: flex;
}

.text {
  margin-left: 12px;

  font-size: 15px;
  margin-top: -5px;
}

.title_1 {
  color: #111;
  font-weight: 700;
  line-height: 1;

}

.title_2 {
  color: #111;
  font-size: 13px;
  margin-top: -3px;
  display: block;
  width: max-content;

}

.top-right {
  justify-content: right;
  align-items: center;
  display: inline-block;
  height: 32px;
  float: right;
}
a{
  height: 32px;
  cursor:pointer;
}
