<script src="../../../shared/components/menu/menu.component.ts"></script>
<app-menu></app-menu>
<div class="home">
  <a class="im" href="{{picLink}}">
<div class="_container__main">
  <div class="_container">

    <div class="_container__pic">

      <picture class="_pic" >

        <img src="{{ pic}}">

      </picture>

    </div>

    <div class="_container__text">
      <div class="_main__text">
        <div class="_text">
          <span class="_text__unsplash">Unsplash</span>
          <div>
            <h1>
              The internet’s source of<!-- -->
              <a class="_text__img" href="/license">freely-usable images</a>.
            </h1>
            <p>Powered by creators everywhere.</p>
            <div>
              <div class="_search__container">
                <div class="_2RbRl">
                  <form
                    action="/s"
                    class="HyxMP _1xG4w _3SiJv"
                    data-test="homepage-search-form-form"
                  >
                    <button
                      class="Mpi7k _3d86A"
                      title="Search Unsplash"
                      type="submit"
                    >
                      <svg
                        class="_3cOFI _2Jh5K _2spGU"
                        height="32"
                        version="1.1"
                        viewBox="0 0 32 32"
                        width="32"
                      >
                        <path
                          d="M21.9 20.1c1.3-1.7 2-3.8 2-6.1 0-5.5-4.5-10-10-10C8.5 4 4 8.5 4 14s4.5 10 10 10c2.3 0 4.4-.8 6.1-2l6.1 6.1 1.9-1.9-6.2-6.1zM14 21.3c-4.1 0-7.3-3.3-7.3-7.3S9.9 6.7 14 6.7s7.3 3.3 7.3 7.3-3.3 7.3-7.3 7.3z"
                        ></path>
                      </svg>
                    </button>
                    <div
                      aria-expanded="false"
                      aria-haspopup="listbox"
                      aria-owns="react-autowhatever-1"
                      class="_container__input"
                      role="combobox"
                    >
                      <input
                        aria-autocomplete="list"
                        aria-controls="react-autowhatever-1"
                        autoCapitalize="none"
                        autoComplete="off"
                        class="_15jJh _1_rwn"
                        data-test="homepage-header-search-form-input"
                        name="searchKeyword"
                        placeholder="Search free high-resolution photos"
                        required=""
                        spellcheck="false"
                        title="Search Unsplash"
                        type="search"
                        value=""
                      />
                      <div id="react-autowhatever-1" role="listbox"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </a>
<app-gallery></app-gallery>
</div>
